form {
    padding-left: 1px;
    padding-right: 1px;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.checkbox, .form-group, .radio {
    margin-bottom: 10px;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
}

.form-control {
    width: 100%;
    min-height: 1.563rem;
    padding: 0.313rem 0.625rem;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: 0;
}

.form-control, label {
    display: inline-block;
    font-size: 0.813rem;
}

label {
    margin-bottom: 0.313em;
}

.color-group {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0;
}

.color-swatch {
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px #666 solid;
    color: #666;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
